<template>
  <div class="plot">
    <GChart
      type="LineChart"
      :data="chartData"
      :options="chartOptions"
      :settings="{packages: ['corechart', 'line']}"
    />
  </div>
</template>

<script lang="ts">
import { GChart } from "vue-google-charts";
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
// import Store from "@/assets/ts/Store.class";

@Component({
  components: {
    GChart
  }
})
export default class Home extends Vue {
  $store: any;
  @Prop(Array) readonly points!: any[];
  @Prop(Number) readonly width!: number;
  @Prop(Number) readonly height!: number;
  max: number = 1000;
  zoomTimeout: any;
  created(): void {
    // Store.watchItems(() => (this.storeItems = Store.items));
  }
  get chartData() {
    return [["x", "y"], ...this.points];
  }
  get chartOptions() {
    return {
      width: this.width,
      height: this.height,
      backgroundColor: this.$store.state.settings.dark ? "#333333" : "#FFFFFF",
      explorer: {
        zoomDelta: 1.1,
        maxZoomIn: 0.003,
        maxZoomOut: 1,
        keepInBounds: true
      },
      vAxis: {
        count: 100,
        viewWindow: {
          max: this.max,
          min: -1 * this.max
        }
      },
      hAxis: {
        count: 100,
        viewWindow: {
          max: this.max,
          min: -1 * this.max
        }
      },
      legend: {
        position: "none"
      },
      theme: "material",
      chartArea: { width: "90%", height: "90%" },
      curveType: "function"
    };
  }
}
</script>
