<template>
  <div>
    <v-sheet id="plot-controls" :elevation="2">
      <v-text-field v-model="eq"></v-text-field>
      <v-btn @click="plot">Plot</v-btn>
    </v-sheet>
    <Plot
      :points="points"
      :height="plotHeight"
      :width="plotWidth"
      style="position:absolute;top:0;left:0;"
    ></Plot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Plot from "@/components/Plot.vue";
// import Store from "@/assets/ts/Store.class";
import * as Graph from "@/assets/ts/Graph";

@Component({
  components: {
    Plot
  }
})
export default class Home extends Vue {
  // storeItems: any = {};
  $store: any;
  points: any[] = [[0, 0]];
  eq: string = "";
  plotHeight: number = 500;
  plotWidth: number = 500;
  created(): void {
    console.clear();
    if (process.browser) {
      // @ts-ignore
      window.Graph = Graph;

      window.onresize = this.resizePlot;
      setTimeout(() => this.resizePlot(), 300);
    }

    // this.storeItems = Store.proxy();
    // this.storeItems = Store.items;
    // Store.watchItems(() => (this.storeItems = Store.items));
  }
  resizePlot(): void {
    // @ts-ignore
    this.plotWidth = document.querySelector("#content > div").offsetWidth;
    // @ts-ignore
    this.plotHeight = document.querySelector("#content > div").offsetHeight;
  }
  toggleDark(): void {
    this.$store.commit("settings/toggle", { item: "dark" });
  }
  plot(): void {
    this.resizePlot();
    var objEq = new Graph.Parse({ eq: this.eq }).answer;
    var points = new Graph.Points({ objEq, xs: -1000, xe: 1000 }).answer;
    this.points = points;
  }
}
</script>

<style lang="scss">
#plot-controls {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
</style>