<template>
  <div></div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// import Store from "@/assets/ts/Store.class";

@Component({
  components: {}
})
export default class Home extends Vue {
  // Store: any = Store;
  // storeItems: any = {};
  created(): void {
    // Store.watchItems(() => (this.storeItems = Store.items));
  }
}
</script>
